{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h1>Editer le biens</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.title) }}</div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <button class="btn btn-primary">Editer</button>
    </div>
{% endblock %}